@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, Ubuntu, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

.section1 {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

ul {
    display: flex;
    align-items: flex-start;
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
    gap: 30px;
    
}

a {
    text-decoration: none;

    color: #e5e7eb;
}

#logo {
    width: 80px;
    height: auto;
    border-radius: 12px;

}

.body {
    display: flex;
    padding: 50px 200px;
    gap: 20px;
    background-color: #1F2937;
}

.body-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body-left-top {
    color: #f9faf8;
        font-size: 48px;
    font-weight: 900;
}
.body-left-middle {
    color: #e5e7eb;
       font-size: 18px;
}

.body-left button {
    align-self: flex-start;
}

#b1 { 
    padding: 8px 20px;
    border-radius: 8px;
    border: 0px;
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#pic02 {
    width: 700px;
    height: auto;
    border-radius: 12px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding: 50px;
}

.info {
    max-width: 250px;
}

.pic {
    width: 250px;
    height: 150px;
    border-radius: 12px;
    border: 2px solid;
    border-color: #3882F6;
}

.section3 {
    background-color: #E5E7EB;
    padding: 50px 300px;  
    min-width: 500px;
}

#uppertext {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

#lowertext {
    text-align: end;
    font-weight: bold;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 200px;
}

.section4-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    width: 800px;
    height: 100px;
    padding: 10px 50px;
}

#utext {
    font-weight: bold;
}

#ltext {
    font-size: 14px;
}

#b2 { 
    padding: 8px 20px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    border-color: white;
    border: solid;
    font-size: 16px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1F2937;
    padding: 16px;
}