@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, Ubuntu, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}

.section1 {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

ul {
    display: flex;
    align-items: flex-start;
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
    gap: 30px;
    
}

a {
    text-decoration: none;

    color: #e5e7eb;
}

#logo {
    width: 100px;
    height: auto;
}

.body {
    display: flex;
    padding: 50px;
    gap: 20px;
}

.body-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body-left-top {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.body-left-middle {
    color: #e5e7eb;
    font-size: 18px;
}

.body-left button {
    align-self: flex-start;
}

button { 
    padding: 8px 20px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#pic02 {
    width: 700px;
    height: auto;
}

.title {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.info {
    max-width: 250px;
}

img {
    width: 250px;
    height: 150px;
    border-radius: 12px;
}
