@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.section1 {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
}

ul {
    display: flex;
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
    gap: 30px;
}

li {

}

a {
    text-decoration: none;

    color: #e5e7eb;
}

img {
    width: 150px;
    padding: 16px;
}

